name = "KWLinalg"
uuid = "3123b30d-1c8b-4465-a616-3de951cb5b45"
authors = ["Algopaul <72927083+Algopaul@users.noreply.github.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
